body{
    background-color: antiquewhite;
}

#tablaCambio{
    border: gray outset ;
    margin-right: 300px;
    border-spacing: 5px;
}

.cabecera{
    background-color:   #FAAC58;
    color: green;
}
tr:nth-child(2),
tr:nth-child(4){
    background-color: #81F79F;
}
tr:nth-child(3),
tr:nth-child(5){
    background-color: #81DAF5;
}
.euroalineadoDcha{
    background-color:  #E6E6E6;
}
.dolaralineadoDcha{
    background-color: #D8D8D8;
}
.libraalineadoDcha{
    background-color: #BDBDBD;
}
.yenalineadoDcha{
    background-color: #A4A4A4;
}
