
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(189, 189, 189);
    background-image: url('https://gifdb.com/images/high/blue-pool-water-reflection-ac7ghsk1xa52q7cn.gif') ;
    background-size: cover;
    background-blend-mode: screen;
    overflow: hidden;
}

.blur {
    
    background: none;
    backdrop-filter: blur(10px);
    margin: 10vh 0;
    height: 80vh;
    box-shadow: 2px 10px 20px  rgb(72, 72, 72);
}


header {
    display: flex;
    justify-content: center;
    padding-top: 10px;    
}

header img{
    width: 50px;
    padding-left: 15px;
      
}

header img:hover {
    opacity: 1;
}

main {   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 50em;
}

section {
    width: 50vw;
    padding: 0 0 15em;
    color: rgb(0, 0, 0);
    text-shadow: white 2px 0 10px, black 0 2px 15;
    
}

section h1{
    padding-left: 15px;
    align-content: center;
    font-size: 5em;
    font-weight: 800;
}

section p{
    
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 1em;
    font-weight: 600;

}
.menu{
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(3, .1fr);
    grid-template-rows: repeat(3, .5fr);
    transform-style: preserve-3d;
    transform: rotateY(-20deg);
}

.menu img {
    width: 12vw;
    border-radius: 15px;
    opacity: 80%;
}

.menu div {
    border: 0cap solid rgb(5, 5, 5);
    border-radius: 15px;
    margin: 10px 10px;
    box-shadow: 3px 3px 5px 2px rgb(251, 181, 234);
    background: radial-gradient(rgb(255, 255, 255) 45%, rgb(247, 158, 225) 80%);
    transition: all .1s ease-in-out;
}

.menu div:hover {
    box-shadow: 5px 5px 10px 2px  rgb(255, 149, 218);
    background: radial-gradient(rgb(255, 1, 221) 30%, rgb(255, 149, 218) 100%);
    scale: scale(1,05);

}